.grid {
   display: grid;
   max-height: 80vh;
   grid-template-columns: repeat(5, 10%);
   grid-template-rows: repeat(5, 10%);
   gap: 10%;

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      height: 200px
   }
}
