.App {
   background-color: #394e3670;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   color: white;
}

.crt::before {
   content: " ";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.12), rgba(0, 255, 0, 0.04), rgba(0, 0, 255, 0.12));
   z-index: 2;
   background-size: 100% 6px, 9px 100%;
   pointer-events: none;
}

@keyframes flicker {
   0% {
      opacity: 0.02;
   }
   10% {
      opacity: 0.03;
   }
   20% {
      opacity: 0.02;
   }
   30% {
      opacity: 0.05;
   }
   40% {
      opacity: 0.06;
   }
   50% {
      opacity: 0.07;
   }
   60% {
      opacity: 0.04;
   }
   70% {
      opacity: 0.05;
   }
   80% {
      opacity: 0.06;
   }
   90% {
      opacity: 0.04;
   }
   100% {
      opacity: 0.03;
   }
}

.crt::after {
   content: " ";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(18, 16, 16, 0.1);
   opacity: 0;
   z-index: 2;
   pointer-events: none;
   animation: flicker 0.15s infinite;
}
@keyframes textShadow {
   0% {
      text-shadow: 0.4px 0 1px rgba(0,30,255,0.5), -0.4px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   10% {
      text-shadow: 0px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   20% {
      text-shadow: 3.5px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   30% {
      text-shadow: 0.7px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   40% {
      text-shadow: 3.9px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   50% {
      text-shadow: 0.1px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   60% {
      text-shadow: 2.2px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   70% {
      text-shadow: 0.5px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   80% {
      text-shadow: 0.1px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
   100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
   }
}
.crt {
   animation: textShadow 1s infinite;
}

@keyframes refresh{0%{bottom:100%}70%{bottom:100%}100%{bottom:0px}}
   .refresh {
      float: left;
      width: 200%;
      height: 100px;
      z-index: 8;
      background: linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(255,255,255,.4) 10%,rgba(0,0,0,.1) 100%);
      opacity: .1;
      position: fixed;
      bottom: 0;
      animation: refresh 12s linear 0s infinite normal;
      animation-fill-mode: none;
      animation-play-state: running;
}